# Configuration file

general {
    # Find items by colour in NEI [default: true]
    B:"Activate Colour Search"=true

    # Find items by material in NEI [default: true]
    B:"Activate Material Search"=true

    # Display mod author while holding shift [default: true]
    B:"Activate Mod Author Identification"=false

    # Prepend the search with "@colour:" to enable the colour search [default: true]
    B:"Activate the colour prefix"=true

    # Prepend the search with "@material:" to enable the material search [default: true]
    B:"Activate the material prefix"=true

    # Run the mod in debug mode [default: false]
    B:"Debug Mode"=false

    # Run colour search with less specific values [default: true]
    B:"Fuzzy Colour Mode"=true
}


