# Configuration file

"control setup" {
    I:"Sync Packet ID"=182
    B:"Restore Obsidian Blast Resistance"=true
    B:"Only show update notice to Ops or SSP"=true
    B:"Force Gregtech Ore Compatibility"=true
    B:"Log Sync Packet CME Avoidance"=true
    B:"Slow Sync Packets - Only use this as a last resort"=false
    I:"Minimum Delay (ms) for 'Can't Keep Up!' Log Warning"=0
    B:"Check Environment Sanity"=false
    B:"Attempt to Repair Environment Sanity"=false
    B:"Admins Bypass Permissions"=true
    B:"Use HashMap for Sound Categories - Only use if necessary"=false
    B:"Compare mod file hashes between client and server"=true
    B:"Direct OpenComputers Support"=false
    B:"Merge XP Orbs Like Items"=true
    B:"Extra Block Ticks When Raining"=true
    B:"Prevent Mobs From Targeting Players Immediately After Logging In"=true
    B:"Biome Humidity Dependent Fire Spread"=true
    B:"Restrict profiling abilities to admins"=true
    S:"Bytecodeexec command user UUID whitelist" <
     >
    S:"Automatic Collection of Inventories; set to 'NULL' to disable"=LCTRL
    I:"AFK Timer Threshold (Seconds); Set to 0 to Disable"=120
    B:"Reroute Ender Eyes to Stronghold Entrances"=false
    I:"Expected Approximate Maximum World Size (Radius)"=5000
    I:"Expected Approximate World Center Location X"=0
    I:"Expected Approximate World Center Location Z"=0
    B:"Bytecodeexec command notifies other admins"=false
    B:"Player-Specific Mob Caps"=false
    B:"Allow charged certus to be recognized as normal certus ore"=false
    B:"Prevent block spreading near unloaded chunks"=true
    B:"Make bonemeal generate biome-correct foliage instead of tall grass"=true
    I:"Version Change Warning Level (0 = None, 1 = ReikaMods only, 2 = All)"=2
}


